{% extends 'base/base.html' %}
{% load static %}
{% block site_css %}
    <link rel="stylesheet" href = "{% static 'styles/home.css' %}">
{% endblock %}

{% block body %}

<div class = mapcontainer>
    <div class ="schedule">
        <div class ="centerSchedule">
            <h1>Operating Hours</h1>
            <p>Monday-Friday:   8:00AM - 6:00PM</p>
            <p>Saturday:        9:00AM - 4:00PM</p>
            <p>Sunday:                   Closed</p>
        </div> 
        <div class="services">
            <h1>Our Services</h1>
            <p>Supplies and equipment</p>
            <p>Tools</p>
            <p>Health and safety products</p>
            <p>Lubrification, oil, and filters</p>
            <p>Industrial equipment</p>
            <p>Body products</p>
            <p>Cleaning products</p>
            <p>Automotive parts and accessories</p>
        </div>
    </div>
  
    <div class ="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5301.324150063742!2d-117.13623221274925!3d56.03716212127862!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5397b26007e99ad3%3A0xcf94dfed11485dcb!2sNampa%20Auto%20%26%20Farm%20Supply!5e0!3m2!1sen!2sca!4v1652140645883!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
</div>
<div class = cardsContainer>
    <div class="card1 card">
        <h3>We are hiring!</h3>
        
        <img src="{% static 'images/enginePicture.jpg'%}">
        <p class = cardDescription>Learn more about how to work at B to B Nampa here</p>
        <button class = "cardButton">Learn More</button>
    </div>
    <div class="card2 card">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <img src="{% static 'images/toolsPicture.jpg'%}">
        <p class = cardDescription> Lorem ipsum dolor sit amet. </p>
        <button class = "cardButton">Learn More</button>
    </div>
    <div class="card3 card">
        <h3>Lorem, ipsum. </h3>
        <img src="{% static 'images/carPicture.jpg'%}">
        <p class = cardDescription> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class = "cardButton">Learn More</button>
    </div>
    <div class="card4 card">
        <h3>Lorem ipsum dolor sit.</h3>
        <img src="{% static 'images/placeholder.png'%}">
        <p class = cardDescription> Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        <button class = "cardButton"> Learn More</button>
    </div>
    <div class="card5 card">
        <h3>Lorem.</h3>
        <img src="{% static 'images/placeholder.png'%}">
        <p class = cardDescription> Lorem ipsum dolor sit amet consectetur.</p>
        <button class = "cardButton"> Learn More</button>
    </div>
</div>

{% endblock %}
{% block site_JS%}{% endblock %}