{% extends 'base/base.html' %}
{% load static %}
{% block site_css%}
    <link rel="stylesheet" href = "{% static 'styles/partsPage.css' %}">
{% endblock %}

{% block body %}
    <div class = headersTitles>
        <h2 class="filterContent">Filter</h2>
        <h2 id="currentInv">Current Inventory</h2>
    </div>
    <div class= headersContainer>
        <div class="filter">
            <ol>
                {% for category in categories %}
                <li class="filterContent"> <input type="checkbox"> {{category.name}}</li>
                {% endfor %}
                <btn class = resetFilter>Reset</btn>
            </ol>
        </div>
        <div class = partsGrid>
            {% for part_item in parts %}
                {% include 'includes/part-details.html' with title=part_item.title partID=part_item.partID isAvailable=part_item.isAvailable image=part_item.image.url  %}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
{% block site_JS%}
    <script src="{% static 'scripts/part-details.js' %}"></script>
{% endblock %}