{% extends 'base/base.html' %}
{% load static %}
{% block site_css%}
    <link rel="stylesheet" href = "{% static 'styles/partsPage.css' %}">
{% endblock %}

{% block body %}
    <h2>Check our inventory here</h2>
    <div class = partsGrid>
        {% for part_item in parts %}
            {% include 'includes/part-details.html' with title=part_item.title partID=part_item.partID isAvailable=part_item.isAvailable image=part_item.image.url %}
        {% endfor %}
    </div>
    
{% endblock %}
{% block site_JS%}
    <script src="{% static 'scripts/part-details.js' %}"></script>
{% endblock %}