:root{
    --white: blue;
    --red: rgb(235, 18, 18);
    --darkRed:rgb(201, 82, 82);
    --gray: gray;
    --black: rgb(36, 35, 35);
}
*{
    margin:0;
    padding:0;
}

h2{
    font-family: monospace;
    font-weight: bold;
    font-size: 45px;
}

input{
    width: 25px;
    height: 25px;
}
#currentInv{
    /* padding-left: 310px; */
}
.headersContainer{
    display: flex;
}
.headersTitles{
    display: flex;
}
.contentContainer{
    display: flex;
}
.filter{
  width: 15%;
  margin-left: 7.5%;
  background-color: white;
  height: max-content;
  margin-top: 55px;
  border: 1px solid rgb(230, 230, 230);
}
.filterCategory{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

li{
   font-size: 25px;
   padding: 10px;
   list-style-type: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.partsGrid{
    padding: 1px;
    /* margin-left: 25%; */
    display: grid;
    grid-gap: 7px;
    grid-template-rows: repeat(4, 410px);
    grid-template-columns: repeat(4, 300px);
    max-width: 1230px;
    flex:2;
   
}
.part-item{
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    border-radius: 5px;
    transition: 0.3s ease-in;
}
.part-item h1{
    letter-spacing: 1px;
}
.part-item:hover{
    transform: scale(1.05);
}
.availabilityContainer{
    display: flex;
    padding-top: 10px;
    
}
.isAvailableImg{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.Img{
    width: 90%;
    height: 240px;
    padding-left: 5%;
    justify-self: center;
    margin-top: 55px;
}

