:root{
    --white: blue;
    --red: rgb(235, 18, 18);
    --darkRed:rgb(201, 82, 82);
    --gray: gray;
    --black: rgb(36, 35, 35);
}
*{
    margin:0;
    padding:0;
}
h2{
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    padding: 10px;
}
.partsGrid{
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(5, 450px);
    grid-template-columns: repeat(4, 300px);
    max-width: 1230px;
    background-color: var(--darkRed);
   
}
.part-item{
    border: 2px solid black;
    background-color: var(--darkRed);
}
.Img{
    padding-top: 38px;
    width: 90%;
    height: 290px;
    padding-left: 5%;
    justify-self: center;
    margin-top: 35px;
}
.part-item p{
    padding: 0;
}