:root{
    --white: white;
    --red: rgb(235, 18, 18);
    --darkRed:rgb(201, 82, 82);
    --gray: rgb(243, 243, 243);
    --black: rgb(36, 35, 35);
    --darkGray: rgb(48, 47, 47);
    --boldFont: 'Anton', serif;
    --thinFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   
*{
    margin:0;
    padding:0;

}
.searchContainer{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.searchPart{
    width: 40%;
}
.search{
    margin-top: 5px;
    width: 80%;
    height: 50px;
    text-decoration: none;
    border: 3px solid var(--red);
    border-right: none;
    font-size: 25px;
    text-align: center;

}
.submitButton{
    height: 50px;
    width: max(10%,50px);
    transform: translatex(-5px);
    text-align: center;
    font-size: 25px;
    background-color: var(--red);
    border: none;
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--red);
}
h2{
    font-family: var(--thinFont);
    font-size: 45px;
}

input{
    width: 25px;
    height: 25px;
}

.headersContainer{
    display: flex;
}
.headersTitles{
    display: flex;
}
.contentContainer{
    display: flex;
}
.filter{
  width: 15%;
  margin-left: 7.5%;
  background-color: white;
  height: max-content;
  margin-top: 55px;
  border: 1px solid rgb(230, 230, 230);
}
.filterCategory{
    text-align: center;
    font-family: var(--thinFont);
    font-size: 25px;
    margin-bottom: 5px;
}

.filter h1{
    margin-bottom: 20px;
    font-size: 35px;
}
li{
   font-size: 25px;
   padding: 10px;
   list-style-type: none;
  font-family: var(--thinFont);
}
.partsGrid{
    padding: 1px;
    display: grid;
    grid-gap: 7px;
    grid-template-rows: repeat(3, 410px);
    grid-template-columns: repeat(4, 300px);
    max-width: 1230px;
    flex:2;
   
}
.part-item{
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    border-radius: 5px;
    transition: 0.3s ease-in;
}
.itemTitle{
    font-size: 27px;
}
.part-item h1{
    letter-spacing: 1px;
}
.part-item p{
    font-family: var(--thinFont);
}
.part-item:hover{
    transform: scale(1.05);
}
.availabilityContainer{
    display: flex;
    padding-top: 10px;
    
}
.isAvailableImg{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.Img{
    width: 90%;
    height: 240px;
    padding-left: 5%;
    justify-self: center;
    margin-top: 55px;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translatey(-15px);
}
.pagination a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: var(--thinFont);
    display: block;
    width: 30px;
    text-align: center;
}

.pagination a:hover{
    background-color: rgb(165, 161, 161);
}