{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nampa Auto & Farm Supply</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block site_css%}{% endblock %}
</head>
<body>
    <div class ="menuContainer">
        <img src = "{% static 'images\BtoBLogo.jpg' %}" href="{% url 'home-page' %}" alt="Logo" class ="logo">
        <div class="linkBackground"> <a href ="" class = 'menuItem'>Home</a></div>
        <div class="linkBackground"> <a href ="{% url 'partsPage' %}" class = 'menuItem'>Inventory</a> </div>
        <div class="linkBackground"> <a href ="" class = 'menuItem'>About Us</a> </div>
        <div class="linkBackground"> <a href ="" class = 'menuItem'>Contact</a> </div>
    </div>
    <div class ="searchBar">
        
    </div>
    {% block body %}{% endblock %}
</body>
</html>