{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nampa Auto & Farm Supply</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="icon" href="{% static 'images\BtoBLogo.jpg' %}">
    {% block site_css%}{% endblock %}
    
</head>
<body>
    <div class ="menuContainer">
        <a class="logo" href = "{% url 'home-page' %}"><img src ="{% static 'images\BtoBLogo.jpg' %}" alt="Logo" class ="logo"></a>
        <div class="linkBackground home"> <a href = "{% url 'home-page' %}" class = 'menuItem '>HOME</a></div>
        <div class="linkBackground inventory"> <a href ="{% url 'partsPage'%}" class = 'menuItem'>INVENTORY</a> </div>
        <img class="pinLogo" src="{% static 'images\location_pin_002.jpg' %}">
        <p class="location">9706 100 St, Nampa, AB</p>
        <img class="phoneLogo" src="{% static 'images\phone.png' %}">
        <p class="number">(780) 322-3798</p>
    </div>
    <div class ="searchBar">
        
    </div>
    {% block body %}{% endblock %}
    {% block site_JS%}{% endblock %}
</body>
<footer>
    <p>Follow us on </p>
    <img src ="{% static 'images\facebook.png' %}" alt="facebook">
    <img src ="{% static 'images\twitter.png' %}" class="twitter" alt="twitter">
</footer>
</html>